input:focus,
select:focus {
  outline: none;
  border-color: #16a34a !important;
  box-shadow: 0 0 0 4px rgba(22, 163, 74, 0.15);
}

button:hover {
  opacity: 0.95;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

button {
  transition: 0.3s;
}

button:hover {
  transform: translateY(-2px);
}

input,
select {
  transition: 0.3s;
}

input:focus,
select:focus {
  border-color: #16a34a !important;
  box-shadow: 0 0 0 4px rgba(22, 163, 74, 0.15);
}